.go-back {
  color: var(--tim-passion-red);
}

.masthead {
  grid-column: span 6;
}

.masthead-headline {
  margin-top: .5em;
  margin-bottom: .5em;
  line-height: 1em;
  font-size: 2em;
  font-weight: 700;
}

.masthead-info {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 3em;
  font-size: 1.2em;
}

.masthead-info li:hover {
  border-bottom: none;
  font-style: normal;
}

.masthead-info li:last-of-type {
  margin-left: 2em;
}

strong {
  font-weight: 600;
}

.banner-img,
.full-img {
  grid-column: 1 / span 6;
}

.banner-img {
  margin-top: 2em;
}

h1,
h2 {
  grid-column: 1 / span 6 ;
  margin: 0;
  padding: 0;
}

h1.brand-name {
  margin-top: .5em;
  line-height: 1em;
  font-size: 4em;
  font-weight: 700;
} 

h2.project-description {
  margin-bottom: 1em;
  font-family: warnock-pro-subhead, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-bottom: 3em;
}

h3,
.paragraph {
  display: flex;
  margin-top: .5em;
  font-family: neue neue-haas-unica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
}

h3.subtitle {
  font-size: 1.1em;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--tim-passion-red);
}

.body-text{
  grid-column: 1 / span 6;
  margin: 1em 0;
}

.logo-wrapper {
  grid-column: 1 / span 6;
  display: inline-block;
}

figcaption {
  text-align: center;
}

video {
  grid-column: span 6;
}

@media (min-width: 570px) {
    .profile-pic {
     order: -1;
     width: 50%;
     padding-right: 1em;
     margin-bottom: 1em;
    }
}

/* medium and large devices. eg tablets, laptops and desktops */
@media (min-width: 768px) {
  .masthead {
    margin-top: 2em;
  }
  .masthead-headline {
    font-size: 4em;
  }
  h2.project-description {
    font-size: 1.4em;
  }
  .masthead-info li:last-of-type {
    margin-left: 8em;
  }
  .subtitle {
    font-size: 2em;
  }
  .paragraph {
    font-size: 1.3em;
    line-height: 1.5em;
  }
  .body-text {
    grid-column: 1 / span 5;
  }
  .logo-wrapper {
    grid-column: span 3;
    width: 100%;
  }
  video.mobile {
    grid-column: span 2;
  }
  video.full-width {
    grid-column: span 6;
  }
}