.go-back {
  font-size: 2em;
}

.intro {
  
}

.intro h1 {
  font-size: 2em;
  margin-bottom: .4em;
}

.intro h2 {
  float: right;
}

.project-img {
  grid-column: auto / span 2;
  justify-self: stretch;
  margin-bottom: 1em;
  width: 100%;
  height: auto;
}

.project-img h3,
.project-img-left h3,
.project-img-right h3 {
  font-weight: 600;
}

.project-img-left {
  grid-column: auto / span 1;
  justify-self: stretch;
  margin-bottom: 1em;
  width: 100%;
  height: auto;
}

.project-img-right {
  grid-column: 2 / span 1;
  justify-self: stretch;
  margin-bottom: 1em;
  width: 100%;
  height: auto;
}