:root {
  --tim-passion-red: #AD4421;
  --tim-neutral-grey: #EFEFEF;
}

/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body,
html {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.6em;
  padding: .5rem;
  background-color: var(--tim-neutral-grey);
  scroll-behavior: smooth;
}

/*
  Dark mode | comment code out to see dark mode
*/

/* html,
body,
a {
  background-color: rgb(30, 30, 30);
  color: var(--tim-neutral-grey);
}
.main-head a {
  background-color: transparent;
} */

h1 {
  padding-bottom: 1em;
}

h2,
h3 {
  display: inline;
}

h3 {
  font-family: warnock-pro-subhead, sans-serif;
  font-weight: 400;
  font-style: italic;
}

p,
.content {
  margin-bottom: .5em;
}

header a,
nav ul li {
  font-size: 1.2em;
}

.red {
  color: var(--tim-passion-red);
}

a.red:hover,
a.red:focus {
  text-decoration: underline;
}

.page-wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 10px;
}

ul {
  display: flex;
  flex-direction: row;
}

ul li {
  margin-right: 1em;
  border-bottom: 3px transparent solid;
}

ul li:last-child {
  margin-right: 0;
}

.over,
.contact {
  grid-column: 1 / span 6;
  padding: 1em 1.2em;
  color: var(--tim-neutral-grey);
  background-color: var(--tim-passion-red);
}

ul li:hover,
ul li:focus {
  font-style: italic;
  border-bottom: 3px solid #AD4421;
}

p .link {
  text-decoration: underline;
  color: var(--tim-neutral-grey);
  background-color: transparent;
}

.profile-pic {
  width: 100%;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
}

h2.what-we-do {

  font-size: 1em;
  /* text-transform: uppercase; */
  font-variant: small-caps;
  margin: 1.2em 0 .5em 0;
}

article li {
  list-style-type: none;
}

img.project-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  object-fit: cover;
}

img.project-img:hover {
  opacity: 90%;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  font-size: .8em;
  grid-column: span 6;
}

.small-hidden{
  display: none;
}

/* smallest devices. eg phones*/
@media (min-width: 300px) {
  h1 {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 1em 0;
    width: 90%;
  }
  .main-head,
  .main-nav,
  .intro-text,
  .content {
    grid-column: 1 / span 6;
  }
  .main-head,
  .main-nav{
    border-bottom: 2px solid;
    padding-bottom: .5em;
  }
  .main-head {
    position: sticky;
    top: 0;
    padding-top: .5em;
    background: var(--tim-neutral-grey);
    /* background-color: rgb(30, 30, 30); */ /* for dark mode */
  }
  .small-hidden {
    grid-column: 1 / span 6;
  }
}

/* breakpoint for images */
@media (min-width: 570px) {
  .over {
    display: flex;
    flex-wrap: wrap;
    }
    .profile-pic {
      display: inline;
     order: -1;
     width: 50%;
     padding-right: 1em;
     margin-bottom: 1em;
    }
    .over p:first-of-type {
      width: 50%;
    }
    img.project-img {
      height: 300px;
    }
}

/* medium and large devices. eg tablets, laptops and desktops */
@media (min-width: 768px) {
  .page-wrapper {
    padding: 0 2em;
  }
  h1 {
    margin: 0;
    padding-top: 2em;
    font-size: 1.6em;
    width: 75%;
  }
  .main-head,
  .main-nav{
  margin-top: 1em;
  border-bottom: 0;
  }
  .main-head {
    grid-column: 1 / span 3;
    top: 1em;
    background-color: transparent;
  }
  .main-nav {
    padding-top: .5em;
    grid-column: 4 / span 3;
  }
  ul {
    justify-content: flex-end;
  }
  .over,
  .contact {
  grid-column: 1 / span 6;
  font-size: 1.2em;
  line-height: 1.4em;
  }
 .content {
    grid-column: span 3;
  }
  img.project-img {
    height: 250px;
  }
  .main-footer{
    grid-column: span 6;
  }
  .small-hidden {
    display: inline;
  }
}

/* START CSS FOR JAVASCRIPT IN NAV BAR *******************************************************/
.logo-compact{
  font-size: 1.2rem;
  line-height: 25px;
  transition-duration: .5s;
}

.open {
  transform: translateY(0);
}
/* END CSS FOR JAVASCRIPT IN NAV BAR *******************************************************/

/* For print */
@media print {
  *{
    display: none;
  }
}