:root {
  --tim-passion-red: #AD4421;
  --tim-neutral-grey: #EFEFEF;
}

/* reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body,
html {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.8rem;
  background-color: var(--tim-neutral-grey);
  padding: 0 10px 0 10px;
}

.red {
  color: var(--tim-passion-red);
}

header {
  position: fixed;
  padding: 20px 10px 10px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--tim-neutral-grey);
  z-index: 3;
}

nav.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

ul.nav-main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul li {
  margin-right: 10px;
}

ul li:last-child {
  margin-right: 0px;
}

ul li:hover,
ul li:focus {
  font-style: italic;
  text-decoration: underline 5px #AD4421;
}

.over p, .contact p {
  font-size: 1rem;
  line-height: 1.6rem;
  padding-top: 6px;
  padding: 20px 10px 10px 10px;
  background-color: var(--tim-passion-red);
  color: var(--tim-neutral-grey);
}

.link {
  color: #EFEFEF;
}

.link:hover {
  font-style: italic;
  background-color: none;
}

.link{
  text-decoration: underline;
}

/* START PHOTOS ON HOME PAGE
*******************************************************/
.project-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.project-item {
  position: relative;
}

.wrapper {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .5s ease-in-out;
}

.project-item img:hover,
.project-item img:focus {
  transform: scale(1.2);
}

.project-item h2,
.project-item h3 {
  display: inline-block;
  margin: auto;
}

.project-item h2 {
  font-weight: 500;
}

.project-item h3 {
  font-family: Plantin, serif;
  font-style: italic;
  font-weight: 300;
}
/* END PHOTOS ON HOME PAGE
*******************************************************/

.footer {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: .6rem;
  margin-bottom: 10px;
}

.footer-item {
  margin-right: 20px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo {
    font-family: neue-haas-unica, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    /* letter-spacing: -1px; */
    width: 100%;
    transition-duration: .5s;
  }

  h1.intro-text {
    position: absolute;
    top: 125px;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 400;
  }

  .project-list {
    margin-top: 250px;
  }

  .project-item {
    width: 100%;
    height: 230px;
    margin-bottom: 20px;
  }

  .wrapper {
    height: 200px;
  }

  .small-hidden {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo {
    font-weight: 500;
    transition: all .5s ease-in-out;
  }

  h1.intro-text {
    position: absolute;
    top: 100px;
    width: 65%;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 400;
  }

  nav.nav-menu {
    justify-content: space-between;
  }

  ul li{
    margin-right: 20px;
  }

  ul li:last-child{
    margin-right: 30px;
  }

  .project-list {
    margin-top: 250px;
  }

  .project-item {
    width: 100%;
    height: 330px;
    margin-bottom: 20px;
  }

  .wrapper {
    height: 300px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    padding: 20px 10px 10px 20px;
  }

  .project-item {
    width: 48%;
    height: 230px;
    margin-bottom: 20px;
    margin-right: 10px;
  }

  .wrapper {
    height: 200px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .project-item {
    width: 48%;
    height: 330px;
    margin-bottom: 20px;
    margin-right: 10px;
  }

  .wrapper {
    height: 300px;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}


/* CSS FOR JAVASCRIPT IN NAV BAR *******************************************************/
.logo-compact{
  font-size: 1.2rem;
  line-height: 25px;
  transition-duration: .5s;
}

.open {
  transform: translateY(0);
}






















/* For print */
@media print {
  *{
    display: none;
  }
}